@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sofia+Sans+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap');

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

header {
  background-color: honeydew;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:16px 50px;
}

.logo{
    font-family: "Sofia Sans Condensed", sans-serif;
    font-size: 24px;
}

header ul{
  display: flex;
  list-style: none;
}

header li{
  margin-left: 20px;
}

header li a{
  color: black;
  text-decoration: none;
}

header li a:hover{
  color: lightgreen;
}

header li a:active{
  color: forestgreen;
}

.title{
  text-align: center;
}

table {
  width: calc(100% - 100px);
  border-collapse: collapse;
  margin: 20px 50px;
}

table th,
table td {
  border: 2px solid lavender;
  padding: 12px;
  text-align: left;
}

table th {
  background-color: lavender;
}

table tr {
  background-color: ghostwhite;
}

table select {
  width: 100%;
  padding: 5px;
}

select,
::picker(select) {
  appearance: base-select;
}

select {
  border: 2px solid mediumpurple;
  background:lavenderblush;
  padding: 10px;
  transition: 0.4s;
}

select:hover,
select:focus {
  background:thistle;
}

select::picker-icon {
  color:mediumpurple;
  transition: 0.4s rotate;
}

select:open::picker-icon {
  rotate: 180deg;
}

option {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  border: 2px solid mediumpurple;
  background: white;
  padding: 10px;
  transition: 0.4s;
}

option:first-of-type {
  border-radius: 8px 8px 0 0;
}

option:last-of-type {
  border-radius: 0 0 8px 8px;
}

::picker(select) {
  border-radius: 8px;
}

option:not(option:last-of-type) {
  border-bottom: none;
}

option:hover,
option:focus {
  background: lavender;
}

form{
  padding: 10px 50px;
  display: flex;

}

form input{
 margin-right: 20px;
}

form select{
 width: 260px;

}

input[type="text"] {
  border: 2px solid mediumpurple;
  border-radius: 8px;
  width: 100%;
  height: 36px;
  font-family: inherit;
  font-size: 100%;
}


input[type="text"]:hover{
  border: 2px solid chartreuse;
}

.click:hover{
  background-color:lightpink;
}
