{% extends 'news/layout.html' %}

{% block title %}Статті{% endblock %}

{% block content %}
    <article class="list">
        <h1>Останні статті</h1>
        <form method="get" class="filter-form">
            <label for="author">Автор:</label>
            <select name="author" id="author" onchange="this.form.submit()">
                <option value="">Усі автори</option>
                {% for author in authors %}
                    <option value="{{ author }}"
                        {% if request.GET.author == author %}selected{% endif %}>
                        {{ author }}
                    </option>
            {% endfor %}
            </select>
        </form>
        {% if articles %}
            {% for el in articles %}
            <section class="item">
                <h2><a href="{% url 'article_detail' el.id %}">{{ el.title }}</a></h2>
                <p class="content">{{ el.text|truncatewords:50 }}</p>
                <button class="btn"><a href="{% url 'article_detail' el.id %}">Читати далі</a></button>
                <p class="author">{{ el.author }}</p>
                <p class="date">{{ el.date }}</p>
            </section>
            {% endfor %}
        {% else %}
            <p>Статті відсутні</p>
        {% endif %}
    </article>
{% endblock %}
